

<div class ="table-responsive-vertical wi-8">
    
        <table class="tableB" id="categoria-tabla">
          <thead>
            <tr>
                <th class="ca-5">Código</th>                
                <th class="ca-20">Decripcion</th>
                               
                
            </tr>
          </thead>

          <tbody id="categoria-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="categoria_paginacion" class="pagination" >                            
        </div>


        <article id="categoria_acciones_lista">
            <pre></pre>
        </article>    


        
        
