

/*
*{
  box-sizing: border-box;
}
 */
 
.loader-container{
  position: relative;
  width: 5rem;
  height: 5rem;
  margin: 4rem;

}
 
.loader-container .semicircle1{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: solid 1rem transparent;
  border-top-color: #0dac77;
  border-left-color: #0dac77;
  border-radius: 50%;
  animation: semicircle1 1.6s linear infinite;
}
 
.loader-container .semicircle2{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 55%;
  height: 55%;
  border: solid 1rem transparent;
  border-top-color: #283fc3;
  border-left-color: #283fc3;
  border-radius: 50%;
  animation: semicircle2 1.3s linear infinite;
}
 
@keyframes semicircle1{
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
 
@keyframes semicircle2{
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}



.loader{
    
    background-color: rgba(250, 250, 250, .6);
    background-color: rgba(250, 250, 250, .5);
    
    background-color: rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, .4);
    
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    z-index: 100000;
        
        
    
}


